---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Navya, a Scientific Analyst.
      </p>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about photography and traveling.
      My goal is to explore new places, experience different cultures, and capture
      moments through my lens.
      One day, I would love to visit and live in every continent!
    </p>
  </div>
</Card>
