---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-1" title="My Stack">
  <p class="text-sm font-light">
    Here's a snapshot of the primary tools and frameworks I work with or have worked with:
  </p>
  <ul class="text-sm font-light pl-5 list-disc">
    <li ><strong>Python</strong></li>
    <li><strong>circtools</strong></li>
    <li><strong>R</strong></li>
    <li><strong>Pytorch</strong></li>
    <li><strong>Javascript</strong></li>
    <li><strong>OpenCV</strong></li>
    <li><strong>Hugging Face</strong></li>
  </ul>
</Card>
